.flex {
    display: flex;
}

.center {
    justify-content: center;
}

.buttons {
    flex-direction: column;
    padding: 0 10px;
    justify-content: space-between;
    height: 10vh;
}

.board{
    height: 60vh;
    width: 80vh;
    border: solid black 2px;
}

button, input {
    height: 30px;
}